 <footer class="post-info">

 	<i class="icon-calendar"></i>
 	<span >
 		
	    <abbr class="published" title="{{ article.date.isoformat() }}">
	      {{ article.locale_date }}
	    </abbr>
	</span>

    {% if article.author %}
    <i class="icon-user offset"></i>
    <span>
    	
	    <address class="vcard author">
	      <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
	    </address>
	</span>
    {% endif %}
    <i class="icon-fork offset"></i>
 	<span >
 		<a target="_blank" href="{{GITHUB_EDIT_PREFIX}}{{ article.filename|replace(ROOT,'') }}"> Fork me</a>
	</span>

	 <i class="icon-twitter offset"></i>
 	<span >
 		<a target="_blank" href="{{ TWITTER_SHARE_URL|format('Check this', SITEURL+'/'+article.url) }}">Tweet me</a>
	</span>
    
    <div class="pull-right">
    	{% include 'tags_list.html' %}
    </div>

  </footer>

 