{% extends "base.html" %}
{% block content %}        
<section id="content">



{% for article in articles_page.object_list %}        
     <article class="post">    
            <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a></h2> </header>
            
            <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
            {% include 'post_info.html' %}
    </article>
{% endfor %}
<!-- /#posts-list -->
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
